#ifndef CONST_H
#define CONST_H

#include "common.h"

#define MAX_INTERRUPT_PINS 6

#define AP_MAX_STATIONS 3
#define AP_IP_ADDR "192.168.0.2"
#define AP_GATEWAY_ADDR "192.168.0.1"
#define AP_NETMASK "255.255.255.0"
#define AP_SSID ""
#define AP_PASS ""
#define AP_CHANNEL 1
#define AP_MAC "72:af:aa:2e:6d:0e"

#define ETHERNET_IP_ADDR (const byte[]) {192, 168, 0, 2}
#define ETHERNET_MAC (const byte[]) {0x72, 0xAF, 0xAA, 0x2E, 0x6D, 0x0E}
#define ETHERNET_GATEWAY (const byte[]) {192, 168, 0, 1}
#define ETHERNET_SUBNET (const byte[]) {255, 255, 255, 0}
#define ETHERNET_DNS (const byte[]) {192, 168, 0, 1}

#define DATA_REMOTE_PORT 27015

#endif